langchain==0.2.6
beautifulsoup4=4.12.3
chromadb==0.5.3
python-docx==1.1.2
PyMuPDF==1.24.5
pypandoc==1.13
regex==2024.5.15
sentence-transformers==3.0.1
streamlit==1.12.0
requests==2.31.0
scikit-lean==1.5.0


